/* Основные цвета сайта */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --second-bg-color: #f5f4fa;
  --hero-footer-bg-color: #2f303a;
}

body {
  background-color: var(--primary-bg-color);

  font-family: roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Шапка сайта */
.page-header > .container {
  display: flex;
  align-items: center;
}
/* Лого */
.logo {
  color: #000000;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
}
.logo .part-logo {
  color: var(--accent-color);
}
/* Навигация */
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
}
.site-nav .link:focus,
.site-nav .link:hover {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: #2196f3;
}
.site-nav .link,
.contacts a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}
/* Контакты */
.contacts a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
}
.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .contacts-item:not(:last-child) {
  margin-right: 50px;
}
/* Герой */
.hero {
  background-color: var(--hero-footer-bg-color);
  text-align: center;
}
.hero-container {
  max-width: 1600px;
  margin: 0 auto;
  outline: 2px solid tomato;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;
}
.hero-title,
.hero-button {
  color: var(--primary-bg-color);
}
.hero-button {
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
  margin-bottom: 200px;
  border: 1px solid transparent;
}
/* Наши приемущества */
.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  padding-bottom: 50px;
}
.caption {
  margin-top: 0;
  margin-bottom: 0;
  display: none;
}
.advantages {
  display: flex;
}
.advantages-lists {
  padding-top: 94px;
  padding-bottom: 94px;
  width: 270px;
}
.advantages-lists:not(:last-child) {
  margin-right: 30px;
}
.advantages-subtitle {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}

.advantages-text {
  color: var(--primary-text-color);
  margin: 0;
}

/* Чем мы занимаемся */
.work {
  display: flex;
}
.work img {
  display: block;
}
.work-photo {
  padding-bottom: 94px;
}
.work-photo:not(:last-child) {
  margin-right: 30px;
}
/* Наша команда */
.section.team {
  background-color: var(--second-bg-color);
}
.team-container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team {
  display: flex;
  text-align: center;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  background-color: var(--primary-bg-color);

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-item > img {
  display: block;
  margin-bottom: 30px;
}
.team-title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 10px;
}
.team-text {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.19;

  padding-bottom: 30px;
}
/* Футер */
.footer {
  color: var(--primary-bg-color);
  background-color: var(--hero-footer-bg-color);
}
.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo {
  display: block;
  color: var(--primary-bg-color);
  margin-bottom: 20px;
}

.address {
  font-style: normal;
  margin-bottom: 9px;
}
.footer > a {
  color: var(--primary-bg-color);
}
.footer-info:not(:last-child) {
  margin-bottom: 9px;
}
.contacts-footer a {
  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;
}

/* Портфолио */
.portfolio-div {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-title {
  display: none;
}
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.control:not(:last-child) {
  margin-right: 8px;
}
.filter-button {
  color: var(--title-text-color);
  background-color: #f5f4fa;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  display: inline-block;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

/* Проекты */
.project {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  /* width: calc((100%-62px) / 3); */
  background-color: tomato;
}
.project-item {
  width: calc((100% -60px) / 3);
  background-color: tomato;
  margin-right: 30px;
}
.project-item:nth-child(3n) {
  margin-right: 0;
}
.project-item img {
  display: block;
}
.project-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-text {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
}
